@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}

/** CONTENT **/
.title{
    text-align: left;
    position: absolute;
    margin: 150px;
    font-family: 'Titillium Web', sans-serif;
}
.banner{
	background-image: url(15.jpg);
}
.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 50px;
	background-image: url(5.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
    font-family: 'Titillium Web', sans-serif;
}

.banner-area h5{
	padding-top:  8%;
    padding-left: 100px;
	font-size: 30px;
	text-transform: uppercase;
	color: #323232;
}

.banner-area h1{
    padding-left: 100px;
	font-size: 70px;
	text-transform: uppercase;
	color: #323232;
}

.servicesbtn{
    padding-left: 100px;
    padding-top:  10px;
}

button{
    font-family: 'Titillium Web', sans-serif;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
}

/** CONTENT **/
#intro1{
	width: 100%;
	height: 350px;
	position: relative;
	background-color: white;
	top: 500px;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 50px;
}

.heading h2{
	font-size: 45px;
	text-align: center;
	margin: 50px 40px 30px 50px;
}

.heading p{
	letter-spacing: 4px;
	line-height: 30px;
	text-align: center;
	margin: 20px 40px 30px 50px;
}

.content-area {
	width: 100%;
	position: relative;
	top: 350px;
	background: white;
	height: 980px;
    font-family: 'Titillium Web', sans-serif;
	display: flex;
	margin: auto;
	padding-top: 40px;
}

.content-area h2 {
	letter-spacing: 4px;
	text-align: center;
	font-size: 40px;
	margin:30px 100px 30px 100px;
}

.content-area p {
	letter-spacing: 4px;
	line-height: 30px;
	text-align:center;
	margin: 30px 100px 30px 100px;
}

.wrapper1{
	width: 2000px;
}

.intro2{
	width: 100%;
	height: 250;
	position: relative;
	background-color: white;
	top: 0;
	font-family: 'Titillium Web', sans-serif;
	background-color: #ececec;
	padding-top: 40px;
}

.heading2 h2{
	font-size: 45px;
	text-align: center;
	margin: 50px 50px 30px 50px;
	padding-top: 50px;
}

.heading2 p{
	letter-spacing: 4px;
	line-height: 30px;
	text-align: center;
	margin: 50px 50px 30px 50px;
	padding-top: 50px;
}

.content-area2 {
	width: 100%;
	position: relative;
	top: 0px;
	background: #ececec;
	height: 500px;
    font-family: 'Titillium Web', sans-serif;
	display: flex;
	padding-top: 40px;
}
.content-area2 h1 {
	letter-spacing: 4px;
	text-align: left;
	font-size: 40px;
	padding-left: 100px;
	line-height: 30px;
}

.content-area2 p {
	letter-spacing: 4px;
	line-height: 30px;
	text-align: justify;
	margin: 20px 100px 30px 50px;
}

.wrapper2{
	margin-top: -40px;
	width: auto;
}

.content-area3 {
	width: 100%;
	position: relative;
	top: 0px;
	background: #ececec;
	height: auto;
    font-family: 'Titillium Web', sans-serif;
	display: flex;
	padding-top: 90px;
	margin-top: -300px;
	margin-bottom: 20px;
}

.content-area3 h1 {
	letter-spacing: 4px;
	text-align: left;
	font-size: 40px;
	padding-left: 100px;
	line-height: 30px;
}

.content-area3 p {
	letter-spacing: 4px;
	line-height: 30px;
	text-align: justify;
	margin: 30px 100px 30px 50px;
}

.book-button{
	margin-left: 50px;
	top: 200px;
}

/** TRY EFFECTS */
.content-area .wrapper h2{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.content-area .wrapper h2{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background:#e02bff;
    transform-origin: right;
    transition: 0.5s;
}

/* FOOTER */
.footer{
	position: relative;
	margin-top: 0px;
}


.wrapper-footer {
	width: 1170px;
	margin: 0 auto;
}


footer {
	height: 250px;
	background: #262626;
	width: 100%;
	z-index: 10;
	font-family: 'Titillium Web', sans-serif;
}


foot {
	float: right;
	line-height: 100px;
	padding-top: 80px;
}

foot a {
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}

.copyright-text
{
  margin-left: 100px;
  color: white;
  padding-top: 0px;
  font-size: 14px;
}

footer h1{
	margin-left: 100px;
	color: white;
	padding-top: 80px;
	font-size: 24px;
}

footer h3{
	margin-left: 100px;
	color: white;
	font-size: 16px;
}

footer{
	display: flex;
}

.tabs{
	display: flex;
	margin-left: 450px;
}

.tabs h2{
	margin-left: 100px;
	color: white;
	padding-top: 80px;
	font-size: 24px;
}

.tabs p{
	margin-left: 100px;
	color: white;
}

